body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-y: scroll;
}

.main-container {
  margin-top: 3px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.navbar-nav li a {
  line-height: 40px;
}

.card {
  cursor: pointer;
  margin-bottom: 10px;
}

div.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

[class*=col-] {
  padding: 15px;
}

.card-text {
  font-size: .8rem;
  color: #666;
  margin: 0;
}

